* {
  box-sizing: border-box;
}
.sg-col-base,
.sg-fill,
.sg-third,
.sg-two-thirds,
.sg-half,
.sg-third-flush,
.sg-two-thirds-flush,
.sg-half-flush {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: top;
  margin: 1%;
  padding: 0.5rem;
}
.sg-row-base,
.sg-section {
  font-size: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 3.42732rem;
}
h2 {
  font-size: 2.6364rem;
}
h3 {
  font-size: 2.028rem;
}
h4 {
  font-size: 1.56rem;
}
h5 {
  font-size: 1.2rem;
}
p {
  font-size: 1.2rem;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.sg-fill {
  width: 98%;
}
.sg-third {
  width: 31.33333333%;
}
.sg-two-thirds {
  width: 64.66666667%;
}
.sg-half {
  width: 48%;
}
.sg-third-flush {
  width: 33.33333333%;
  margin: 0;
}
.sg-two-thirds-flush {
  width: 66.66666667%;
  margin: 0;
}
.sg-half-flush {
  width: 50%;
  margin: 0;
}
