* {
  box-sizing: border-box;
}
.col,
.sg-third,
.sg-two-thirds,
.sg-fill {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: top;
  margin: 1%;
  padding: 0.5rem;
}
.row,
.sg-section {
  font-size: 0;
}
.sg-third {
  width: 31.33333333%;
}
.sg-two-thirds {
  width: 64.66666667%;
}
.sg-fill {
  width: 98%;
}
